h1 {
  background-color: rgb(253, 182, 74);
  color: rgb(253, 253, 253);
  font-size: 30px;
  padding: 10px;
}

h2 {
    color:rgb(253, 145, 4);
}

p {
    font-size: 20px;
}

li {
    font-size: 18px;
}